<div class="container">
    <mat-sidenav class="sidebar" mode="side" opened>
        <ul>
            <li>
                <a mat-button [routerLink]="['/create-trainee']">Create Trainee</a>
            </li>
            <li>
                <a mat-button [routerLink]="['/view-all-trainees']">View All Trainees</a>
            </li>

            <li>
                <a mat-button [routerLink]="['/view-all-instructors']">View All Instructors</a>
            </li>
        </ul>
    </mat-sidenav>
    <div class="row">
        <div class="col-md-8 offset-md-2 my-2">
            <mat-progress-bar mode="buffer" class="my-2" *ngIf="toggle"></mat-progress-bar>
            <mat-card class="bg-primary">
                <h1 class="text-center my-3">Create New Instructor</h1>
                <form (ngSubmit)="formSubmit()">

                    <!-- full name Field -->
                    <mat-form-field class="full-width margin col-md-8 offset-md-2 my-3 " appearance="outline">
                        <mat-label>Full Name</mat-label>
                        <input required matInput placeholder="Enter Full Name" name="fullName" type="text"
                            [(ngModel)]="userData.fullname" [ngModelOptions]="{ standalone: true }" />
                    </mat-form-field>

                    <!-- Email field -->
                    <mat-form-field class="full-width margin col-md-8 offset-md-2 my-2" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input required type="email" matInput placeholder="Enter Email" name="email"
                            [(ngModel)]="userData.email" [ngModelOptions]="{ standalone: true }" />
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field class="full-width margin col-md-8 offset-md-2 my-2" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input required type="password" matInput placeholder="Enter Password" name="password"
                            [(ngModel)]="userData.password" [ngModelOptions]="{ standalone: true }" />
                    </mat-form-field>


                    <div class="butn container text-center margin my-3">
                        <button type="submit" mat-raised-button color="primary" class="mx-2">
                            Create
                        </button>
                        <button type="reset" mat-raised-button color="accent" class="margin-left">
                            Clear
                        </button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>