.nav-btn-title{
    margin-left: 360px;
    border-radius: 10px;
    background-color: black;
    width: 90px;
    color: white;
   text-decoration: none;
   display: inline-block;
   justify-content: center; 
  align-items: center; 
  text-align: center;
}
.login-btn{
  left: 50rem;
  top: 0px;
}
.right{
  position: relative;
  left: 45rem;
  top: 0px;
}