<p>
  <mat-toolbar color="secondary">
    <button
      mat-icon-button
      class="example-icon"
    >
      <mat-icon>menu_book</mat-icon>
    </button>
    <a routerLink="/" class="nav-heading mx-2 text-decoration-none">Learning Management System</a>
    <span class="example-spacer"></span>
    <a
    *ngIf="!login.isLoggedIn()"
      [routerLink]="'/login'"
      mat-icon-button
      class="example-icon favorite-icon"
    >
      <!-- <span class="btn btn-outline-dark">Login</span>
        -->

        <button mat-raised-button color="accent" class="login-btn" >Login</button>
    </a>
    
    <a
    *ngIf="login.isLoggedIn()"
    (click)="logout()"
      [routerLink]="''"
      mat-icon-button
      class="example-icon"
    >
      <span class="btn btn-primary right">Logout</span>
    </a>

  </mat-toolbar>
</p>
  