<p>
<mat-toolbar color="secondary">
  <div class="d-flex align-items-center">
    <button mat-icon-button class="example-icon">
      <mat-icon>menu_book</mat-icon>
    </button>
    <a routerLink="/" class="nav-heading mx-2 text-decoration-none">Learning Management System</a>
  </div>
  <span class="example-spacer"></span>
  <ng-container *ngIf="!login.isLoggedIn(); else loggedInTemplate">
    <a routerLink="/login" >
      <button mat-raised-button color="accent">Login</button>
    </a>
  </ng-container>
  <ng-template #loggedInTemplate>
    <a (click)="logout()" mat-icon-button >
      <button mat-raised-button color="accent" class="logout-btn">Logout</button>
    </a>
  </ng-template>


</mat-toolbar>
</p>