<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div>
      <button mat-raised-button color="accent" class="mx-3" (click)="goToDashboard()">
        <mat-icon>home</mat-icon>Go To Dashboard
      </button>
        <button mat-raised-button color="primary" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon> Back
        </button>
      </div>
        <form class="d-flex">
          <mat-form-field appearance="outline" class="me-2">
            <mat-label>Search Posts</mat-label>
            <input matInput type="text" placeholder="Search" (keyup)="filterResults(filter.value)" #filter>
          </mat-form-field>
        </form>
      </div>
      @if (postsToDisplay.length>0) {
    <h2>View All Posts in <b>{{sprint}}</b></h2>

    <div *ngFor="let post of postsToDisplay" class="mat-elevation-z8 m-3 ">
        <mat-card class="p-4">
           
                <mat-card-title>{{ post.title }}</mat-card-title>
        
            <mat-card-content>
                <p>{{ post.description }}</p>
            </mat-card-content>
            <mat-card-actions class="actions">
                <button mat-raised-button color="primary" class="mb-2" (click)="updatePost(post.contentId)">Update</button>
                <button mat-flat-button color="accent" (click)="deletePost(post.contentId)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>
  }
  @else {
    <h3 class="text-center fs-3 mb-4">
      No Posts are currently available! 
      <a  class="text-primary" (click)="goToCreatePost()">Click here</a> to create a new post.
    </h3>
  }
</div>