<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 my-2">
            <mat-card>

                <h1 class="text-center my-3">Update Sprint</h1>
                <form (ngSubmit)="formSubmit()">
                    
                    <!-- Batch name Field -->
                    <mat-form-field class="full-width margin col-md-8 offset-md-2 my-3 " appearance="outline">
                        <mat-label>Name</mat-label>
                        <input required matInput placeholder="Enter Sprint Name" name="name" type="text"  [(ngModel)]="sprint.name" [ngModelOptions]="{ standalone: true }" />
                    </mat-form-field>

                    <!-- Description field -->
                    <mat-form-field class="full-width margin col-md-8 offset-md-2 my-2" appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea required type="text" matInput placeholder="Enter Description" name="description"
                            rows="4" [(ngModel)]="sprint.description" [ngModelOptions]="{ standalone: true }"></textarea>
                    </mat-form-field>

                    <!-- From date field -->
                    <mat-form-field class="full-width margin col-md-8 offset-md-2 my-2" appearance="outline">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                            <input matStartDate formControlName="start" placeholder="Start date" [(ngModel)]="sprint.from_Day" >
                            <input matEndDate formControlName="end" placeholder="End date" [(ngModel)]="sprint.to_Day" >
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        @if (range.controls.start.hasError('matStartDateInvalid')) {
                        <mat-error>Invalid start date</mat-error>
                        }
                        @if (range.controls.end.hasError('matEndDateInvalid')) {
                        <mat-error>Invalid end date</mat-error>
                        }
                    </mat-form-field>

                    <!-- Points field -->
                    <mat-form-field class="full-width margin col-md-8 offset-md-2 my-2" appearance="outline">
                        <mat-label>Points</mat-label>
                        <input required type="text" matInput placeholder="Enter Points for completion" name="points" [(ngModel)]="sprint.points" [ngModelOptions]="{ standalone: true }"/>
                    </mat-form-field>
                    
                    <div class="container text-center margin my-3">
                        <button type="submit" mat-raised-button color="primary" >
                            Update
                        </button>
                        <button type="reset" mat-raised-button color="accent" class="margin-left mx-2">
                            Clear
                        </button>
                        <button type="button" mat-flat-button color="primary" (click)="goBack()">
                            <mat-icon>arrow_back</mat-icon> Back
                          </button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>