<div class="container mt-4">
    <div class="main-content">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <button mat-raised-button color="accent" id="ntb" (click)="goToDashboard()">
          <mat-icon>home</mat-icon> Dashboard
        </button>
  
        <form class="d-flex">
          <mat-form-field appearance="outline" class="me-2">
            <mat-label>Search Instructors</mat-label>
            <input matInput type="text" placeholder="Search" (keyup)="filterResults(filter.value)" #filter>
          </mat-form-field>
        </form>
      </div>
  
      <h1 class="text-center fs-1 mb-4">View All Instructors</h1>
  @if (instructorsToDisplay.length>0) {
      <table mat-table [dataSource]="instructorsToDisplay" class="mat-elevation-z8">
        <ng-container matColumnDef="Sl No">
          <th mat-header-cell *matHeaderCellDef> Sl No </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
        </ng-container>
  
        <ng-container matColumnDef="Full Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let instructor"> {{ instructor.fullName }} </td>
        </ng-container>
  
        <ng-container matColumnDef="Password">
          <th mat-header-cell *matHeaderCellDef> Password </th>
          <td mat-cell *matCellDef="let instructor">*****</td>
        </ng-container>
  
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let instructor"> {{ instructor.email }} </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let instructor">
            <button mat-stroked-button color="primary" (click)="updateInstructor(instructor.id)">Update</button>
            <button mat-flat-button color="accent" (click)="deleteInstructor(instructor.id)" class="mx-2">Delete</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    }
    @else {
        <h3 class="text-center fs-3 mb-4">
            No instructors are currently available! 
            <a [routerLink]="['/create-instructor']" routerLinkActive="router-link-active">Click here</a> to create a new instructor.
          </h3>
          
    }
    </div>
  </div>
  