<div class="container">
  <!-- Sidebar -->
  <mat-sidenav class="sidebar" mode="side" opened>
    <ul>
      <li>
        <a mat-button [routerLink]="['/create-trainee']">Create Trainee</a>
      </li>
      <li>
        <a mat-button [routerLink]="['/view-all-trainees']">View All Trainees</a>
      </li>
      <li>
        <a mat-button [routerLink]="['/create-instructor']">Create Instructor</a>
      </li>
      <li>
        <a mat-button [routerLink]="['/view-all-instructors']">View All Instructors</a>
      </li>
    </ul>
  </mat-sidenav>

  <!-- Main Content -->
  <div class="main-content">
    <h1 class="head"><b>Welcome {{this.login.getUser().fullName}}!</b></h1>
    <div class="row offset-3">

    <mat-card class="col-md-5 m-2 h-100 bg-grey shadow-sm p-3">
      <mat-card-title class="text-dark mt-4 fs-4 d-flex align-items-center">
        <mat-icon class="icon me-2">groups</mat-icon>
        <span>
          <p class="text-secondary">Number of Batches</p> <p class="text-center insights" >{{ totalBatches }}</p>
        </span>
      </mat-card-title>
    </mat-card>
    

      <mat-card class="col-md-5 m-2 h-100 bg-grey shadow-sm p-3">
        <mat-card-title class="text-dark mt-4 fs-4 d-flex align-items-center">
          <mat-icon class="icon me-2">groups</mat-icon>
          <span>
            <p class="text-secondary">Number of Trainees</p> <p class="text-center insights" >{{ totalTrainees }}</p>
          </span>
        </mat-card-title>
      </mat-card>

      <mat-card class="col-md-5 m-2 h-100 bg-grey shadow-sm p-3">
        <mat-card-title class="text-dark mt-4 fs-4 d-flex align-items-center">
          <mat-icon class="icon me-2">groups</mat-icon>
          <span>
            <p class="text-secondary">Number of Instructors</p> <p class="text-center insights" >{{ totalInstructors }}</p>
          </span>
        </mat-card-title>
      </mat-card>

      <mat-card class="col-md-5 m-2 h-100 bg-grey shadow-sm p-3">
        <mat-card-title class="text-dark mt-4 fs-4 d-flex align-items-center">
          <mat-icon class="icon me-2">groups</mat-icon>
          <span>
            <p class="text-secondary">Number of Certificates</p><p class="text-center insights" >{{ totalCertificates }}</p>
          </span>
        </mat-card-title>
      </mat-card>
      
    </div>
  </div>
</div>