.h-100{
    height: 10rem !important;
}

.icon{
    position: absolute;
    top: 15px;
    right: 20px;
    
}
.bg-grey{
    background-color: rgb(212, 214, 215);
}

.offset-1{
    position: absolute;
    left: 6%;
}