

<div class="container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h2></h2>
    <ul>
      <li><a [href]="['/create-batch']"><div class="add" >
        <button mat-stroked-button class="btns btn-primary text-light">Add Batch</button>
      </div></a></li>
      <li><a [href]="['/view-all-batches']"><div class="view" >
        <button mat-stroked-button class="btns btn-primary text-light">View Batches</button>
      </div></a></li>
    </ul>
  </aside>
  <!-- class="btns btn-primary text-light" -->
  <!-- Main Content -->
  <div class="main-content">
    <h1 class="head"><b>Welcome {{this.login.getUser().fullName}}!</b></h1>
    <div class="row offset-1">
      <mat-card class="col-md-5 m-2 h-100 bg-grey">
        <mat-card-title class="text-dark mt-4 fs-4">
          Number of Batches
          <mat-icon class="icon">group</mat-icon>
        </mat-card-title>
      </mat-card>

      <mat-card class="col-md-5 m-2 h-100 bg-grey">
        <mat-card-title class="text-dark mt-4 fs-4">
          Number of Trainees
          <mat-icon class="icon">groups</mat-icon>
        </mat-card-title>
      </mat-card>

      <mat-card class="col-md-5 m-2 h-100 bg-grey">
        <mat-card-title class="text-dark mt-4 fs-4">
          Number of Instructors
          <mat-icon class="icon">person</mat-icon>
        </mat-card-title>
      </mat-card>

      <mat-card class="col-md-5 m-2 h-100 bg-grey">
        <mat-card-title class="text-dark mt-4 fs-4">
          Number of Certified
          <mat-icon class="icon">verified</mat-icon>
        </mat-card-title>
      </mat-card>
    </div>
  </div>
</div>