<div class="container">
  <mat-sidenav class="sidebar" mode="side" opened>
    <ul>
      <li>
        <a mat-button [routerLink]="['/create-batch']">Create new batch</a>
      </li>
      <li>
        <a mat-button [routerLink]="['//view-all-batches']">View All Batches</a>
      </li>
      
    </ul>
  </mat-sidenav>
  <!-- Main Content -->
  <div class="main-content">
    <h1 class="head"><b>Welcome {{this.login.getUser().fullName}}!</b></h1>
    <div class="row offset-2 text-center">
      <mat-card class="col-5 m-2 h-100 bg-grey shadow-sm p-3">
        <mat-card-title class="text-dark mt-4 fs-4 d-flex align-items-center">
          <mat-icon class="icon me-2">groups</mat-icon>
          <span>
            <p class="text-secondary">Number of Batches</p> <p class="text-center insights" >{{ totalBatches }}</p>
          </span>
        </mat-card-title>
      </mat-card>
      <mat-card class="col-5 m-2 h-100 bg-grey shadow-sm p-3">
        <mat-card-title class="text-dark mt-4 fs-4 d-flex align-items-center">
          <mat-icon class="icon me-2">groups</mat-icon>
          <span>
            <p class="text-secondary">Number of Trainees</p> <p class="text-center insights" >{{ totalTrainees }}</p>
          </span>
        </mat-card-title>
      </mat-card>
      <mat-card class="col-5 m-2 h-100 bg-grey shadow-sm p-3">
        <mat-card-title class="text-dark mt-4 fs-4 d-flex align-items-center">
          <mat-icon class="icon me-2">groups</mat-icon>
          <span>
            <p class="text-secondary">Number of Certificates</p> <p class="text-center insights" >{{ totalCertificates }}</p>
          </span>
        </mat-card-title>
      </mat-card>
  
        
  
        
    </div>
  </div>
</div>